hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
}
.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px){
    .rodape{
        display: flex;
        padding: 1em 0 0 0;
        justify-content: space-around;
    }
    .lista-rodape{
        display: block;
    }
    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin-left: 0.6em;
        margin-bottom: 0.5em;
    }
    .lista-rodape__titulo{
        margin-bottom: 2em;
        font-size: 14px;
        color: var(--cinza-claro);
    }
    .lista-rodape__link{
        text-decoration: none;
        color: var(--cinza);
        margin-left: 0.6em;
    }
    .rodape__titulo{
        font-size: 24px;
    }
}

@media screen and (min-width: 1024px){
    .rodape{
        display: flex;
        padding: 3em 0 0 0;
        justify-content: space-around;
    }
    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
}